*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #303030;
    overflow: scroll;
}
nav{
    background-color: #000000;
    position: fixed;
    width: 99%;
    height: 3rem;
    padding: 10px;
    z-index: 99;
    border-bottom:1px solid greenyellow ;
}
nav img{
    width: 4rem;
    padding-top: 4px;
    /* border-radius: 50%; */
    float: left;
    
}
p{
    display: inline-block;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
   padding-top: 5px;
   color: yellowgreen;
}
nav ul {
    list-style: none;
    display: flex;
}
.navBtn{
    margin-right: 8px;
    margin-left: 168px;
    padding: 2px;
    padding-top: 6px;
}
.menuBar{
    padding: 6px;
    list-style: none;
    position: fixed;
    width: 96.4%;
    color: rgb(205, 50, 50);
    margin-top: -50rem;
    border-top: 1px solid greenyellow;
    background-color: rgba(5, 5, 5, 0.726);
    text-align: center;
    line-height: 4.5;
    border-bottom: 0.1px dotted yellowgreen;
    z-index: 99;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menuBar li a {
    color: red;
    text-decoration: none;
}
.menuBar li a:hover{
    color: aqua;
    text-decoration: line-through solid red;
}
.home{
    display: block;
    position: absolute;
    margin-top: 4.2rem;
    margin-bottom: 0;
    list-style: none;
    background-color: #303030;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.home img{
  margin-top: 0px;
  width: 100%;
  list-style: none;
  border-bottom: 0.5px dotted yellowgreen;
}
.home ul {
   
    text-align: center;
    padding-top: 30px;
}
.home ul li button{
 
    margin-top: 20px;
    padding: 2px;
    background-color:  #303030;
    border: none;
    text-decoration: underline rgb(84, 231, 241);
    color: yellowgreen;
    font-size: 20px;
    font-weight: 300;
}
.home ul li span {
    color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.about{
    width: 100%;
    text-align: center;
    display: block;
    position: absolute;
    background-color: #303030;
    margin-top: 34.7rem;
    border-bottom: 0.5px dotted yellowgreen;
}
.about p {
    line-height: 1.3;
    padding-top: 35px;
   font-size: 25px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.about span{
    color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.about button {
    flex: 2;
    margin-top: 20px;
    padding: 2px;
    background-color:  #303030;
    border: none;
    text-decoration: underline rgb(84, 231, 241);
    color: yellowgreen;
    font-size: 20px;
    font-weight: 300;
    padding-top: -30px;
}
.about img {
    margin-top: -55px;
    width: 200Px;
    float: right;
}
.timeline{
    position: absolute;
    background-color: #303030;
    position: absolute;
    width: 100%;
    margin-top: 62.1rem;
    border-bottom: 0.5px dotted yellowgreen;
}
.time{
    display: flex;
    font-size: 25px;
    color: aqua;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.left{
    margin-left: 30px;
    border-left: 2px solid blue;
}
.right{
    margin-left: 20px;
    
}
.time h2{
    color: aqua;
    font-size: 20px;
    padding-top: 30px;
}
.time p span{
    color: aqua;
    
}
.contbtn{
    text-align: center;
    margin-top: 20px;
}
.contbtn button{
    border: none;
    background-color: #303030;
    border: none;
    text-decoration: underline rgb(84, 231, 241);
    color: yellowgreen;
    font-size: 20px;
    font-weight: 300;
    padding-top: -30px;
    margin-bottom: 20px;
}
.contbtn button span{
    color: aqua;
}
.contact{
    position: absolute;
    background-color: #303030;
    width: 100%;
    margin-top: 102rem;
}
.contact h2{
    text-align: center;
    color: aqua;
    text-decoration: underline red;
    margin-top: 20px;
}
.contact form {
    display: block;
    text-align: center;
}
.contact form input{
    font-size: 19px;
    background: none;
    border: none;
    display: block;
    margin-left: 63px;
    width: 241px;
    margin-top: 40px;
    padding: 5px;
    border-bottom: 1px solid yellowgreen;
    border-radius: 5px;
}
.contact form textarea{
    border: none;
    background: none;
    border-radius: 5px;
    border-bottom: 1px solid yellowgreen;
    width: 243px;
    font-size: 19px;
    margin-top: 40px;
    padding: 5px;
}
form button{
    margin-left: 152px;
    margin-top: 40px;
    background: none;
    border: none;
    color: yellowgreen;
    text-decoration: underline red;
    font-size: 20px;
    display: block;
    padding: 3px;
    margin-bottom: 30px;
}
.footer{
    position: absolute;
    background-color: #303030;
    margin-top: 120rem;
    width: 100%;
    padding-bottom: 60px;
    padding-top: 40px;
    border-bottom: 1px solid yellowgreen;
}
.footer ul{
    text-align: center;
}
.footer li{
    display: inline;
    list-style: none;
}
.footer img{
    width: 90px;
}
.instaimg{
 width: 30px;
 padding-bottom: 9px;
}
 .footer span{
    color: aqua;
    font-size: 18px;
    padding-bottom: 5px;
    padding-left: -20px;
 }
 .footer p{
    text-decoration: 1px underline dotted;
    font-size: 20px;
 }